<div class="card-body">
    <article class="itemlist">
        <div class="table-responsive">
            <a href="javascript:void(0)" class="btn btn-primary btn-sm rounded" data-toggle="modal" data-target="#exampleModal" >Create new</a>
            
            <table class="table">
                <thead>
                    <tr>
                        <th><Img></Img></th>
                        <th>Name</th>
                        <th>Status</th>
                        
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {%for baner in baners %}
                    <tr>
                        <td><img src="/products/{{baner.iamge}}" style="width: 100px;"></td>
                        <td>{{baner.title }}</td>
                        <td>  {% if baner.status  %}
                            Aactive
                            {% else %}
                            Inactive
                          {% endif %} </td>
                        
                        <td> <div class="form-check ms-2">
                            <input class="form-check-input" id="baner_{{baner.id}}" type="checkbox"      {% if baner.status  %}
                            checked
                          {% endif %} value="">
                          <a href="javascript:void(0)" class="btn btn-sm font-sm btn-light rounded"> <i class="material-icons md-delete_forever"></i> Delete </a></div> </td>
                    </tr>
                 {%endfor%}
                     
                </tbody>
            </table>
           
        </div>
        <!-- row .// -->
    </article>

</div>

