
{% extends "backend/admin_base.html" %}
{% block content %}  
    <section class="content-main">
        <div class="content-header">
            <h2 class="content-title">Home Page setting</h2>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row gx-5">
                    <aside class="col-lg-3 border-end">
                        <nav class="nav nav-pills flex-lg-column mb-4">
                          
                            <a class="nav-link active" id="settings_baner" aria-current="page" href="javascript:void(0)">Baner Images</a>
                            <a class="nav-link "  id="settings_general" href="javascript:void(0)">General</a>
                            <a class="nav-link"  id="settings_baner" href="#">Best Sells</a>
                            <a class="nav-link" href="#">SMS Setings</a>
                            
                            
                        </nav>
                    </aside>
                    <div class="col-lg-9">
                        <section class="content-body p-xl-4" id="relatedPage">
                        
                             
                            
                        </section>
                        <!-- content-body .// -->
                    </div>
                    <!-- col.// -->
                </div>
                <!-- row.// -->
            </div>
            <!-- card body end// -->
        </div>
        <!-- card end// -->
    </section>
    <!-- content-main end// -->
 
 
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New Baner</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>  
            <form action="/admin/baner/" method="POST" enctype="multipart/form-data"> 
                {% csrf_token %}
            <div class="modal-body">
            
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Baner Name:</label>
                  <input type="text" class="form-control" name="banername" value="">
                </div>

                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Baner Image:</label>
                    <input type="file" class="form-control" name="banerimage" id="image" value="">
                  </div>
               
             
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input  type="submit" id="catsave" class="btn btn-primary" value="Save">  </form>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
{% block script %}
<script>

    $(document).ready(function(){
        function baner(){
            $.get('/admin/baner/', function(responce){               
                $("#relatedPage").html(responce) 
                baneractivate()
            }) 
        }

    


        baner()

   function baneractivate(){
          $("[id^=banerdel_]").click(function(){
            banerid = this.id.split("_")[1]

            $.get("/admin/banerdelete/?banerid="+banerid+"&status="+status, function(responce){
                baner()

             })
          })
           $("[id^=baner_]").click(function(){
             banerid = this.id.split("_")[1]
             status = 0
             if($(this).is(":checked")){
                status= 1
               

             }

             $.get("/admin/banerupdate/?banerid="+banerid+"&status="+status, function(responce){
                baner()

             })
           })
    }
  
function deactivate(){
  $("[id^=settings_]").each(function(){
    
    $(this).removeClass("active")
  })
} 

 
$("[id^=settings_]").click(function(){ 
  urlfor =this.id.split("_")[1]
  deactivate()
  $(this).addClass("active")
 
  if(urlfor=="baner"){
    baner()

  }
 
  if(urlfor=="general"){
     $("#relatedPage").html('')

  }
})
}) 
</script>
</script>

{% endblock %}
