
{% extends "backend/admin_base.html" %}
{% block content %} 
    <div class="content-header">
        <h2 class="content-title">{{title}}</h2>
 
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row align-items-center">
                <div class="col col-check flex-grow-0">
                    <div class="form-check ms-2">
                        <input class="form-check-input" type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                    <select class="form-select">
                        <option selected="">All </option>
                        <option>PENDING</option>
                        <option>SHIPPED</option>
                       
                    </select>
                </div>
                 
                
            </div>
        </header>
        <!-- card-header end// -->
        <div class="card-body">
           
            <article class="itemlist">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Order</th>
                                <th>Date</th>
                                 
                                <th>Shipping Status</th>
                                <th>Total</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for order in orders%}
                            <tr>
                                <td  ><a href="javascript:void(0)" paymentid="{{order.paymentid}}"  id="vieworder__{{order.id}}" data-toggle="modal" data-target="#myModal">{{order.paymentid}}</a></td>
                                <td>{{order.orderdate}}</td>
                                
                                <td>{{order.shippingDetails}}

                                   
                                </td>
                                <td>{{order.amount}}</td>
                                <td>
                                   
                               <p> <select class="form-select" style="width: 114px;" id="changeShipping__{{order.id}}" >
                                <option value="">Select</option>
                                     <option value="PENDING">Pending</option>
                                    <option value="PENDING">Processing</option>
                                    <option value="SHIPPED">Dispatched</option>
                                    <option value="CANCELED">Cancel </option>
                                </select>  </p>
                                </td>
                            </tr>


                       
                           
                        {%endfor%}
                           
                          
                         
                           
                        </tbody>
                    </table> </div>
                
                
            </article></div>

          
         
        <!-- card-body end// -->
    </div>
  
    {% endblock %}


    {% block script %}
    <script>
        $("[id^=vieworder__]").click(function(){
            orderid = this.id.split("__")[1]
            $("#orderid").html($(this).attr("paymentid"))
            $.get("/admin/Orderproducts/?orderid="+orderid,function(responce){
                $("#orderlist").html(responce)
            })
        
        })

        $("[id^=changeShipping__]").change(function(){
            orderid = this.id.split("__")[1]
            orderstate= $(this).val()
            if(orderstate){
                
           
            $.get('/admin/changeorderstate/?orderid='+orderid+"&orderstate="+orderstate,function(responce){
                   window.location.reload()

            }) }

        })
</script>
    {% endblock %}



 
