{% extends "frontend/base.html" %}
{%load static%}
{% block content %} 
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                <span></span> Pages <span></span> My Account
            </div>
        </div>
    </div>
    <div class="page-content pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="dashboard-menu">
                                <ul class="nav flex-column" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link  active" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Account details</a>
                                    </li>
                                    
                                  
                                  
                                    <li class="nav-item">
                                        <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>My Address</a>
                                    </li>
                                  
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="tab-content account dashboard-content pl-50">


                                <div class="tab-pane fade   active show" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="mb-0">Your Orders</h3>
                                          
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Order</th>
                                                            <th>Date</th>
                                                            <th>Order Status</th>
                                                            <th>Shipping Status</th>
                                                            <th>Total</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {%for order in   orders %}
                                                        <tr>
                                                            <td>{{order.provider_order_id}} </td>
                                                            <td>{{order.orderdate}}</td>
                                                            <td>{{order.status}}</td>
                                                            <td>{{order.shippingDetails}}</td>
                                                            <td>{{order.amount}}</td>
                                                            <td><a href="/orderdetails/?orderid={{order.id}}" class="btn-small d-block">View</a></td>
                                                        </tr>
                                                       
                                                       {%endfor%}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane " id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Account Details</h5>
                                        </div>
                                        <div class="card-body">
                                            
                                            <form method="post" name="enq">
                                                {% csrf_token %} 
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label>  Name <span class="required">*</span></label>
                                                        <input required="" class="form-control" name="name" type="text" value="{{request.user.name}}">
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label>Phone No <span class="required">*</span></label>
                                                        <input required="" class="form-control" name="phone" value="{{request.user.phone}}">
                                                    </div>
                                                    
                                                    <div class="form-group col-md-12">
                                                        <label>Email Address <span class="required">*</span></label>
                                                        <input required="" class="form-control" name="email" type="email" value="{{request.user.email}}">
                                                    </div>
                                                   <!--  <div class="form-group col-md-12">
                                                        <label>Current Password <span class="required">*</span></label>
                                                        <input required="" class="form-control" name="password" type="password">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label>New Password <span class="required">*</span></label>
                                                        <input required="" class="form-control" name="npassword" type="password">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label>Confirm Password <span class="required">*</span></label>
                                                        <input required="" class="form-control" name="cpassword" type="password">
                                                    </div> -->
                                                    <div class="col-md-12">
                                                        <button type="submit" class="btn btn-fill-out submit font-weight-bold" name="submit" value="Submit">Save Change</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                               
                               
                              
                                <div class="tab-pane fade " id="address" role="tabpanel" aria-labelledby="address-tab">
                                    <div class="row">
                                        {%for shipments in shipment%}
                                        
                                                   
                                                
                                        <div class="col-lg-6"> <hr>
                                            <div class="card">
                                                <div class="form-check">
                                                <label class="form-check-label"> <b> Default Address</b ></label>
                                                    {%if shipments.status == '1' %}
                                                   <input type="radio"  checked class="form-check-input" name="Default"  >
                                                    {%else%}
                                                    <input type="radio"     class="form-check-input" name="Default" >
                                                    {%endif%}
                                                   
                                               </div>
                                                <div class="card-header">
                                                    Fullname Name : {{shipments.Fullname}} 
                                                </div>
                                                
                                                <div class="card-header">
                                                    Phone: {{shipments.Mobilenumber}} 
                                                </div>
                                                <div class="card-body">
                                                    <address>
                                                       Flat/Bulding : {{shipments.Flat_House_no_Building_Apartment}},
                                                    </address>
                                                    <p>Stread/Area : {{shipments.Area_Street_Sector_Village}}</p>
                                                     <p>Town/City : {{shipments.Town_City}}</p>
                                                    <p>Pincode : {{shipments.Pincode}}</p>
                                                     
                                                </div>
                                            </div>
                                        </div>

                                        {%endfor%}



                                        
                                    </div>
                                    <div class="row">
                                        <hr>
                                      <h5><b> Add  Address :</b></h5>

                                        <div class="card-body">
                                          
                                            <form method="POST" name="enq">
                                                {% csrf_token %} 
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label>Fullname Name <span class="required">*</span></label>
                                                        <input required="" class="form-control" name="Fullname" value=" " type="text">
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label>Mobile Number <span class="required">*</span></label>
                                                        <input required="" class="form-control" name="Mobilenumber" value=" " >
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label>Pincode <span class="required">*</span></label>
                                                        <input required="" class="form-control" name="Pincode" type="text" value=" " >
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label>Flat/House no/Building/Apartment <span class="required">*</span></label>
                                                        <input required="" class="form-control" name="Flat_House_no_Building_Apartment" type="text" value=" " >
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label>Area/Street/Sector/Village <span class="required">*</span></label>
                                                        <input required="" class="form-control" name="Area_Street_Sector_Village" type="text" value=" " >
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label>Landmark <span class="required">*</span></label>
                                                        <input required="" class="form-control" name="Landmark" type="text" value=" " >
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label>Town/City<span class="required">*</span></label>
                                                        <input required="" class="form-control" name="Town_City" type="text" value=" " >
                                                    </div>
                                                    <div class="col-md-12">
                                                        <button type="submit" class="btn btn-fill-out submit font-weight-bold" name="submit" value="Submit">Save</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>



                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {%endblock%}
    {% block script %}
     {%endblock%}