{% extends "frontend/base.html" %}
{%load static%}
{% block content %} 
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                <span></span> Shop
                <span></span> Cart
            </div>
        </div>
    </div>
    <div class="container mb-80 mt-50">
        <div class="row">
            <div class="col-lg-8 mb-40">
                <h1 class="heading-2 mb-10">Your Cart</h1>
                <div class="d-flex justify-content-between">
                    <h6 class="text-body">There are <span class="text-brand">3</span> products in your cart</h6>
                    <h6 class="text-body"><a href="#" class="text-muted"><i class="fi-rs-trash mr-5"></i>Clear Cart</a></h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="table-responsive shopping-summery">
                    <table class="table table-wishlist">
                        <thead>
                            <tr class="main-heading">
                                <th class="custome-checkbox start pl-30">
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox11" value="">
                                    <label class="form-check-label" for="exampleCheckbox11"></label>
                                </th>
                                <th scope="col" colspan="2">Product</th>
                                <th scope="col">Unit Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Subtotal</th>
                                <th scope="col" class="end">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for cart_product in cart%}
                            <tr class="pt-30" id="tr_{{cart_product.id}}">
                                <td class="custome-checkbox pl-30">
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="pid_{{cart_product.id}}_{{cart_product.productid.id}}" value="">
                                    <label class="form-check-label" for="pid_{{cart_product.id}}"></label>
                                </td>
                                <td class="image product-thumbnail pt-40"><img src="/products/{{cart_product.productid.coverImage}}" alt="#"></td>
                                <td class="product-des product-name">
                                    <h6 class="mb-5"><a class="product-name mb-10 text-heading" href="javacript:void(0)">{{cart_product.productid.title}}</a></h6>
                                    <div class="product-rate-cover">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width:90%">
                                            </div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (4.0)</span>
                                    </div>
                                </td>
                                <td class="price" data-title="Price">
                                    <h4 class="text-body">{{cart_product.productid.price}}</h4>
                                </td>
                                <td class="text-center detail-info" data-title="Stock">
                                    <div class="detail-extralink mr-15">
                                        <div class="detail-qty border radius">
                                            <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                            <span class="qty-val" id="pquantaty_{{cart_product.productid.id}}_{{cart_product.quantity}}">{{cart_product.quantity}}</span>
                                            <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                        </div>
                                    </div>
                                </td>
                                <td class="price" data-title="Price">
                                    <h4 class="text-brand">{{cart_product.total_price}}  </h4>
                                </td>
                                <td class="action text-center" data-title="Remove"><a href="javascript:vodi(0)" class="text-body" id="delCart_{{cart_product.id}}"><i class="fi-rs-trash">
                                    
                                </i></a></td>
                            </tr>

                            {%endfor%}
                            
                        
                        </tbody>
                    </table>
                </div>
                <div class="divider-2 mb-30"></div>
                <div class="cart-action d-flex justify-content-between">
                    <a class="btn " href="/products/"><i class="fi-rs-arrow-left mr-10"></i>Continue Shopping</a>
                    <a class="btn  mr-10 mb-sm-15" href="javascript:void(0)" id="updateCart"><i class="fi-rs-refresh mr-10"></i>Update Cart</a>
                </div>
                
            </div>
          
        </div>
    </div>

 
    {%endblock%}
    {% block script %}

<script>

   $(document).ready(function(){
      $("#updateCart").click(function(){

         $("[id^=pid_]").each(function(){
           
            if($(this).is(':checked')){
                    pid = this.id.split("_")[1]
                    // $.get("/updatecart/", )

            }
         })
      })

   }) 

</script>
{%endblock%}