<ul>
   
    {%for cart_product in cart%}
    <li>
        <div class="shopping-cart-img">
            <a href="shop-product-right.html"><img alt="Nest" src="/static/frontend/assets/imgs/shop/thumbnail-3.jpg"></a>
        </div>
        <div class="shopping-cart-title">
            <h4><a href="shop-product-right.html">{{cart_product.productid.title}}</a></h4>
            <h4><span>{{cart_product.quantity}} × </span>{{cart_product.productid.price}}</h4>
        </div>
        <div class="shopping-cart-delete">
            <a href="#"><i class="fi-rs-cross-small"></i></a>
        </div>
    </li>

    {%endfor%}
 
</ul>

<div class="shopping-cart-footer">
    <div class="shopping-cart-total">
        <h4>Total <span>{{cart_product.total_price}}</span></h4>
    </div>
    <div class="shopping-cart-button">
        <a href="shop-cart.html" class="outline">View cart</a>
        <a href="shop-checkout.html">Checkout</a>
    </div>
</div>
<script>$("#cartcount").text("{{crtcount}}")</script>