{% extends "frontend/base.html" %}
{%load static%}
{% block content %}
<div class="row">
<div class="col-2"> </div>
<div class="col-8">
<div class="invoice-center">
    <div class="table-responsive">
        <table class="table table-striped invoice-table">
            <thead class="bg-active">
                <tr>
                    <th>Item Item</th>
                    <th class="text-center">Unit Price</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-right">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="item-desc-1">
                            <span>Field Roast Chao Cheese Creamy Original</span>
                            <small>SKU: FWM15VKT</small>
                        </div>
                    </td>
                    <td class="text-center">$10.99</td>
                    <td class="text-center">1</td>
                    <td class="text-right">$10.99</td>
                </tr>
                <tr>
                    <td>
                        <div class="item-desc-1">
                            <span>Blue Diamond Almonds Lightly Salted</span>
                            <small>SKU: FWM15VKT</small>
                        </div>
                    </td>
                    <td class="text-center">$20.00</td>
                    <td class="text-center">3</td>
                    <td class="text-right">$60.00</td>
                </tr>
                <tr>
                    <td>
                        <div class="item-desc-1">
                            <span>Fresh Organic Mustard Leaves Bell Pepper</span>
                            <small>SKU: KVM15VK</small>
                        </div>
                    </td>
                    <td class="text-center">$640.00</td>
                    <td class="text-center">1</td>
                    <td class="text-right">$640.00</td>
                </tr>
                <tr>
                    <td>
                        <div class="item-desc-1">
                            <span>All Natural Italian-Style Chicken Meatballs</span>
                            <small>SKU: 98HFG</small>
                        </div>
                    </td>
                    <td class="text-center">$240.00</td>
                    <td class="text-center">1</td>
                    <td class="text-right">$240.00</td>
                </tr>
                <tr>
                    <td colspan="3" class="text-end f-w-600">SubTotal</td>
                    <td class="text-right">$1710.99</td>
                </tr>
                <tr>
                    <td colspan="3" class="text-end f-w-600">Tax</td>
                    <td class="text-right">$85.99</td>
                </tr>
                <tr>
                    <td colspan="3" class="text-end f-w-600">Grand Total</td>
                    <td class="text-right f-w-600">$1795.99</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
<div class="col-2"></div></div> 
{%endblock%}
{% block script %}
 {%endblock%}